body {
  background: rgb(46, 166, 182);
  background-image: linear-gradient(-90deg, #8F25DA, #25DACB);
  overflow: hidden;
  font: Arial, 12px/1.5em;
  color: #fff;
}

a{
  color: rgba(255, 255, 255, 0.8);
}
a:hover{
  color: #fff;
}
/*背景*/
html,
body{
  width: 100%;
  height: 100%:
}
#con{
  width: 75%;
  margin: 100px auto;
  text-align: center;
}
#con p.title{
  font-size: 28px;
  animation: title ease-in 2s 1;
  transition: all 2s;
}
@keyframes title {
  0%{opacity: 0;color: rgb(53, 221, 232);}
}
#con p.list{
  margin-top: 7em;
  animation: title ease-in 1s 1;
}
#con p.tips{
  margin-top: 15px;
  animation: title ease-in 2s 1;
}
#con a{
  display: inline-block;
  padding: 0 50px;
  height: 35px;
  line-height: 35px;
  margin: 10px;
  background: #535252;
  color: #e2dddd;
  border:1px solid #535252;
  border-radius: 15px;
}
#con a:Hover{
  color: #fff;
  border: 1px solid #000;
  background: #000;
  box-shadow: 2px 2px 30px #333;
  transition: all .5s;
}
#by{
  position: fixed;
  bottom: 4px;
  width: 100%;
  text-align: center;
}
#by p{
  cursor: pointer;
  display: inline-block;
  animation: title ease-in 2s 1;
  color: rgba(255, 255, 255, 0.45);
  font-size: 14px;
}
#by p:hover{
  color: #fff;
  transition: all 2s;
}
#fork{
  position: fixed;
  top: 0;
  right: 0;
}
#fork img{
  width: 120px;
  height: 120px;
  opacity: .7;
  cursor: pointer;
}
#fork img:hover{
  opacity: 1;
}
